	<table style="width: 100%; border: 1px solid #CCC;">
		<tr>
			<td style="width: 200px;">
			Company name:
			</td>
			<td>
			Greenwich Business Travel AV
			</td>	
		</tr>
		<tr>
			<td>
			Street address:
			</td>
			<td>
			Invanovskaya 44-1
			</td>	
		</tr>
		<tr>
			<td>
			Street address 2:
			</td>
			<td>
			</td>	
		</tr>		
		<tr>
			<td>
			ZIP:
			</td>
			<td>
			220076
			</td>	
		</tr>		
		<tr>
			<td>
			Phone:
			</td>
			<td>
			+375 17 2531235
			</td>	
		</tr>
		<tr>
			<td>
			FAX:
			</td>
			<td>
			+375 17 5552252
			</td>	
		</tr>
		<tr>
		<td>
			email:
			</td>
			<td>
			office@gbt.by
			</td>	
		</tr>				
	</table>	