#{extends 'main.html' /} #{set title:'Requests' /}
<form method="get" action="${request.url}">
<table class="filterandcontentpane">
	<tr>
		<td class="filterpanel">
			<div class="filterpanel">
				<table>
					<tr>
						<td>
							<div class="filtertab ${params['filter.active']!='false'?'filtertabactive':''}">
								<a href="${extensions.QueryStringExtensions.queryStringExcluding(request, 'filter.active')}">&{'requests.active'}</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="filtertab ${params['filter.active']=='false'?'filtertabactive':''}">						
								<a href="${extensions.QueryStringExtensions.queryStringIncluding(request, 'filter.active', 'false')}">&{'requests.archive'}</a>
							</div>
						</td>
					</tr>					
					<tr>
						<td>
							<div class="filtertab">
								<a href="@{Requests.create}">&{'requests.create'}</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="filterblock">
								<input type="hidden" name="filter.active" value="${filter?.active}"/>
								#{c.field 'filter.requestNumber'} 
								<div class="${field.errorClass}">
									<strong>&{'request.filter.requestNumber'}:</strong><br /> <input type="text" name="${field.name}" value="${field.value}">
									#{if field.error}
									<span class="error">${field.error}</span>
									#{/if}
								</div>
								#{/c.field}
								<input type="submit" value="&{'filter'}" /><br /> <input class="thinbutton"
									type="submit" name="resetFilter" value="&{'do.not.filter'}" />
							</div></td>
					</tr>
				</table>
			</div>
		</td>
		<td class="contentpanel">
			#{dt.datatable values:requests, size:entitiesCount }
				#{dt.head}
					#{dt.col orderby='id'}&{'requests.tablefield.id'}#{/dt.col}
					#{dt.col orderby='requestNumber'}&{'requests.tablefield.number'}#{/dt.col}
				#{/dt.head}
				#{dt.row}
				
					#{dt.col}#{a @view(row.id)}${row.id}#{/a}#{/dt.col}
					#{dt.col}${row.requestNumber}#{/dt.col}
				#{/dt.row}
			#{/dt.datatable}

		</td>
	</tr>
</table>
</form>