#{extends 'main.html' /} #{set title:'Cities list' /}
<form method="get" action="${request.url}">
    <table class="filterandcontentpane">
        <tr>
            <td class="filterpanel">
                <div class="filterpanel">
                    <table>
                        <tr>
                            <td>
                                <div class="filtertab ${params['filter.active']!='false'?'filtertabactive':''}">
                                    <a href="${extensions.QueryStringExtensions.queryStringExcluding(request, 'filter.active')}">&{'cities.active'}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="filtertab ${params['filter.active']=='false'?'filtertabactive':''}">						
                                    <a href="${extensions.QueryStringExtensions.queryStringIncluding(request, 'filter.active', 'false')}">&{'cities.archive'}</a>
                                </div>
                            </td>
                        </tr>					
                        <tr>
                            <td>
                                <div class="filtertab">
                                    <a href="@{CatalogCities.create}">&{'cities.create'}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="filterblock">
                                	<input type="hidden" name="filter.active" value="${filter?.active}"/>
                                    #{c.field 'filter.name'}
                                    <div>
                                        <strong>&{'city.filter.name'}:</strong><br /> <input type="text" name="${field.name}" value="${field.value}" class="${field.errorClass}">
                                            #{if field.error}
                                            <span class="error">${field.error}</span>
                                            #{/if}
                                    </div>
                                    #{/c.field}
									#{c.field 'filter.country'}
                                    <div>
                                        <strong>&{'city.filter.country'}:</strong><br /> <input type="text" name="${field.name}" value="${field.value}" class="${field.errorClass}">
                                            #{if field.error}
                                            <span class="error">${field.error}</span>
                                            #{/if}
                                    </div>
                                    #{/c.field}
                                    <input type="submit" value="&{'filter'}" /><br /> <input class="thinbutton"
                                        type="submit" name="resetFilter" value="&{'do.not.filter'}" />
                                </div></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="contentpanel">
                #{dt.datatable values:cities, size:entitiesCount }
                #{dt.head}
                #{dt.col orderby='id'}&{'cities.tablefield.id'}#{/dt.col}
                #{dt.col orderby='name'}&{'cities.tablefield.name'}#{/dt.col}
                #{dt.col orderby='country.name'}&{'cities.tablefield.country'}#{/dt.col}
                #{/dt.head}
                #{dt.row}
                #{dt.col}#{a @view(row.id)}${row.id}#{/a}#{/dt.col}
                #{dt.col}${row.name}#{/dt.col}
                #{dt.col}${row.country.name}#{/dt.col}
                #{/dt.row}
                #{/dt.datatable}
            </td>
        </tr>
    </table>
</form>